<h1>searching/update</h1>

<!-- searching and patching new locations -->
<%=form_for Location.new, url: "/locations/#{@location.id}", html: {method: "patch"} do |f|%>
	<%=f.text_field :name, value: @location.name %>
	<br>
	<%=f.text_area :description, value: @location.description, :cols => "19", :rows => "10", placeholder: "Enter Description" %>
	<%=f.submit "Save Changes!", :class => 'submit' %>
<%end%>

<script>

</script>