<!DOCTYPE html>
<html>
<head>
  <title>Routery</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
 <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?"></script> -->
  <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&libraries=places&key=AIzaSyC5exWewdB0pqqx99EDqNw2rLIx779YZE0"></script>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
  <meta charset="utf-8">
  <title>Routery</title>
    








  <%= csrf_meta_tags %>
</head>
<body>


  <div class="nav">
      <div id="nav-padding">
      <h1 id="nav-header">routery</h1>
      </div>
    </div>
	<% end %>



<%= yield %>


</script>
</body>
</html>
